* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

#unloader {
  display: none;
}

/* CSS for animated bouncing loader. */
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 37, 37);
}

/* Loader circles */
#loader > span {
  background: #fad000;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

#loader > span:nth-child(2) {
  animation-delay: 0.2s;
}

#loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Define the animation called bouncingLoader. */
@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

/* Header */

header {
 
  margin: 0px 4%;
  border-bottom: 3px solid black;
}

.website-header {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 80px;
  margin: 0px auto;
}

.welcome {
  margin: auto;
  margin-left: 25%;
  color: rgb(34, 33, 33);
  display: flex;
}

#date {
  position: absolute;
  margin-left: 30px;
  animation: down 5s linear;

  animation-iteration-count: infinite;
}

@keyframes down {
  0% {
    top: -20px;
  }
  100% {
    top: 33px;
  }
}

.social {
  text-align: right;
  flex-grow: 1;
  margin-right: 40px;
}

.social i {
  margin: 20px 20px;
  cursor: pointer;
  font-size: 18px;
}

.social i:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#facebook {
  color: #5e7dc0;
}

#twitter {
  color: #00acee;
}

#instagram {
  color: #bc2a8d;
}

/* nav */

nav {
  height: 50px;
  margin: 10px 6%;
  margin-bottom: 1px;
  padding-left: 100px;
}

nav ul li a {
  color: black;
  font-size: 15px;
  font-weight: 800;
  padding: 10px 10px;
  margin: 0px 3px;
  transition: 0.2s ease-in-out;
}

nav ul {
  float: left;
  position: relative;
}

nav ul li {
  display: inline-block;
}

a.active,
nav ul li a:hover {
  color: rgb(0, 132, 255);

  border-radius: 5px;
}

.checkbtn {
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  color: black;
  float: right;
  margin-right: 30px;
  padding: 0px 5px;
  display: none;
}

#check {
  display: none;
}

/* Responsive */

@media (max-width: 1370px) {
  nav {
    padding-left: 50px;
  }
}

@media (max-width: 1350px) {
  nav {
    padding-left: 30px;
  }
  header {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1280px) {
  nav {
    padding-left: 0px;
  }
  nav ul li:nth-child(9) {
    display: none;
  }
}

@media (max-width: 1030px) {
  .logo {
    margin: 0px 0px;
  }
  .checkbtn {
    display: block;
  }

  nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 500px;
    text-align: center;
    top: 20px;
    left: 0px;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 5px 50px;
    padding: 10px 15px;
  }

  nav ul li:nth-child(9) {
    display: block;
  }

  nav ul li:nth-child(8) {
    display: block;
  }

  .social {
    margin: 0px;
  }

  nav ul li a {
    color: black;
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: -100%;
  }

  #breaking {
    position: relative;
  }

  .breakhead {
    width: 150px;
    color: white;
    background: rgb(0, 132, 255);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
  }

  #back {
    background: white;
    background-size: cover;
    height: 510px;
    margin-bottom: 20px;
  }

  main {
    display: block;
  }

  ul {
    border-bottom: 3px black solid;
  }
}

/* Breaking news */

#breaking {
  margin: 10px 5%;
  padding: 10px;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.breakhead {
  width: 220px;
  color: white;
  background: rgb(0, 132, 255);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 10px 0px 0px;
  font-size: 20px;
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 5px;
}

.marquee p {
  color: white;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 25s linear infinite;
}
.marquee p:hover{
  animation-play-state:paused;
  cursor:pointer;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}



/* Accordion */

.accordion {
  max-width: 1320px;
  background-color: rgb(0, 0, 0, 0.1);
  height: 250px;
  margin: 20px auto;
  display: flex;
  box-shadow: 0 0 0px black;
  cursor: pointer;
}

.acc-container {
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin: 40px 5%;
  width: fit-content;
}

.box {
  position: relative;
  height: 100%;
  width: 300px;
  box-shadow: 0 0px 10px black;
  transition: 0.5s ease-in-out;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.box:hover {
  width: 50%;
  height: 460px;
}



.text p {
  font-weight: normal;
  font-family: sans-serif;
  opacity: 0;
  padding: 10px;
}

.text h2 {
  font-size: 18px;
  background: rgb(253, 253, 253);
  padding: 5px;
  width: fit-content;
  margin: 0px auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transition: 1s;
  text-align: center;
  align-content: center;
}

.text {
  position: absolute;
  text-align: center;
  padding: 10px;
  transition: 0.5s ease-in;
  margin-top: 10px;
}

.box:hover .text p {
  opacity: 1;
}

.box:hover .text {
  margin-top: 0px;
}

.box:hover .text h2 {
  margin: 5px auto;
  width: unset;
}

.content a {
  display: block;
  transition: all 0.5s;
  color: rgb(0, 132, 255);
}

.content a:hover span {
  padding-left: 5px;
}

.content h2,
p {
  color: black;
}

.accordimg {
  max-width: 100%;
}

/* Footer part */

.footer-right .social {
  text-align: left;
  margin-right: 25px;
}

.footer-right .social i {
  margin: 0px 40px;
  margin-left: 0px;
}

footer h2 {
  color: rgb(116, 177, 228);
  margin-bottom: 20px;
}

footer button {
  margin-top: 5px;
}

footer h3 {
  margin-bottom: 5px;
}

footer p {
  color: white;
  margin-bottom: 20px;
}

.footer-center button {
  font-size: 19px;
  border: none;
  padding: 12px 20px;
  background-color: rgb(0, 132, 255);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #0b3a50;
}

.footer-center button:hover {
  background-color: #0b3a50;
  border-bottom: 3px solid rgb(0, 132, 255);
}

footer {
  background-color: #252525;
  margin: 10px 0px;
}

.footer-container {
  margin: 20px 60px;
  padding: 20px;
  text-align: justify;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
}

.subscribe {
  font-size: 22px;
  margin-top: 30px;
}

.form-control {
  padding: 10px;
}

.input-group-btn .btn {
  border-radius: 3px;
  background: rgb(0, 132, 255);
  color: #fff;
  font-weight: 600;
  padding: 10px;
}

.input-group-btn .btn:hover {
  background-color: #0b3a50;
  border-bottom: 4px solid rgb(0, 132, 255);
  cursor: pointer;
}

@media (max-width: 1030px) {
  .footer-center {
    margin: 20px 0px;
    border-bottom: 1px solid white;
    padding: 10px 0px;
  }

  .footer-left {
    border-bottom: 1px solid white;
  }

  .footer-container {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 1030px) {
  .footer-container {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
  }

  .footer-center {
    flex: 1;
    flex-basis: 33.33%;
    padding: 0px 40px;
  }

  .footer-left {
    flex: 1;
    flex-basis: 33.33%;
  }

  .footer-right {
    flex: 1;
    flex-basis: 33.33%;
  }
}

/* Contact form . html */

#contact {
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#contact h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 30px;
  width: fit-content;
  border-bottom: 1px black solid;
}

#contact p {
  text-align: center;
  margin: 0px auto 0px auto;
  font-size: 16px;
  width: 80%;
}
.contact-form {
  margin: 40px auto 0px auto;
  width: 30%;
}

.contact-form label {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 5px;
}

.contact-form input {
  padding: 5px 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #0b3a50;
}

.contact-form textarea {
  padding: 5px 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 3px;
  width: 100%;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #0b3a50;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 5px;
  border: none;
  padding: 12px 20px;
  background-color: rgb(0, 132, 255);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 4px solid #0b3a50;
}

.contact-form button:hover {
  background-color: #0b3a50;
  border-bottom: 4px solid rgb(0, 132, 255);
}

@media (max-width: 1200px) {
  .contact-form {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .contact-form {
    width: 60%;
  }
}

/* main */

@media (min-width: 1030px) {
  .top {
    display: flex;
  }
  .bottom {
    display: flex;
  }
  .bottom-left-article {
    display: flex;
  }
}

/* main */
main {
  margin: 40px 5%;
  border-top: 3px solid black;
}

main a {
  padding: 10px 0;
  display: block;
  transition: all 0.5s;
  color: black;
}

main img {
  width: 100%;
}

/* top */

main span {
  transition: 0.5s;
}

main a:hover span {
  padding-left: 5px;
}

main a {
  color: rgb(0, 132, 255);
}

main h2 {
  border-bottom: 1px solid black;
  padding: 15px 0 15px 0px;
}

.top {
  border-bottom: 3px solid black;
}

/* top container left */

.top-container-left {
  padding: 30px 0px;
  flex: 1;
  margin-right: 20px;
}

.top-container-left h3 {
  padding: 10px 0;
  font-size: 18px;
}

.top-container-left p {
  font-size: 15px;
  font-weight: 300;
}

.top-container-left article {
  padding: 10px;
  padding-left: 0px;
}

.container-top-left {
  padding: 15px 10px;
  border-bottom: 1px black solid;
}

.container-bottom-left {
  margin: 15px 10px;
  display: flex;
}

.container-bottom-left img {
  height: 200px;
}

.container-bottom-left article:nth-child(1) {
  margin-right: 15px;
}

/*** top container right */

.top-container-right {
  padding: 30px 0px;
  flex: 1;
}

.top-container-right h3 {
  padding: 15px 0 15px 0px;
}

.top-container-right article {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 15px 0px;
  margin-left: 0px;
}

.top-container-right img {
  width: 100px;
  height: 100px;
}

.top-container-right h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  align-self: center;
  width: fit-content;
}

.top-container-right article h3 {
  font-size: 18px;
  padding: 10px 0;
}

.top-container-right article p {
  font-size: 15px;
  font-weight: 300;
}

.top-container-right article div {
  margin-right: 10px;
}

/* bottom */

.bottom-left-article {
  padding: 20px 10px;
}

.bottom-left {
  flex: 3;
  padding: 10px;
}

.bottom-right {
  flex: 1;
  padding: 10px;
}

.bottom-left-left,
.bottom-left-right {
  padding: 15px 10px;
}

.bottom-left-left img {
  height: 500px;
}

.bottom-left h3 {
  padding: 10px 0;
  font-size: 18px;
}

.bottom-left p {
  font-size: 15px;
  font-weight: 300;
}

.bottom {
  border-bottom: 3px solid black;
}

.bottom-left {
  padding: 15px 30px;
}

.bottom-left-left {
  flex: 2;
}

.bottom-left-right {
  flex: 1;
}

.bottom-left-right a {
  padding: 0px;
  color: black;
}

.bottom-left-right img {
  height: 200px;
}

.bottom-left-right h3 {
  border-bottom: 1px solid black;
}

.bottom-right h2 {
  margin: 0px;
}

.bottom-right article {
  margin: 20px 0px;
  display: flex;
}

.bottom-right article img {
  flex: 1;
  height: 65px;
}

.bottom-right article h3 {
  flex: 5;
  padding-left: 5px;
  padding-bottom: 10px;
}

.bottom-right article a {
  padding: 0px;
  color: black;
}

/* Flood html */
.flood-page {
  margin: 15px 7%;
  padding-bottom: 10px;
}

.flood {
  margin-right: 30px;
  flex: 2;
}

.flood h2 {
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 20px;
}

.flood p {
  margin: 25px 0px;
  text-align: justify;
}

.flood img {
  max-width: 100%;
}

.flood a {
  background-color: rgb(0, 132, 255);
  padding: 10px;
  border-radius: 4px;
  color: white;
}

.flood a i {
  margin: 10px;
  margin-right: 15px;
}

.flood-page .bottom-right a {
  padding-bottom: 0px;
  padding-top: 20px;
}

.flood-page .bottom-right {
  margin-top: 10px;
  padding-top: 20px;
}

.flood-page .bottom-right article {
  padding-bottom: 15px;
}

@media (max-width: 1030px) {
  .flood {
    margin: 15px 5%;
  }
}

/* more */
#bord {
  border-bottom: none;
}

.more img {
  width: 100%;
}

.more {
  margin: 15px 5%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.more h2 {
  margin-left: 30px;
  width: fit-content;
  padding: 10px;
  border-bottom: 1px solid black;
}

.more a {
  padding: 10px 0;
  display: block;
  transition: 0.5s;
  color: rgb(0, 132, 255);
}

.more a:hover span {
  padding-left: 5px;
}

/* Sport html */
.category {
  margin: 10px 5%;
}

#category-head {
  padding: 20px 30px;
  border-bottom: 1px black solid;
  width: fit-content;
  margin: 0px auto;
}

.category h2 {
  font-size: 18px;
  margin-bottom: 10px;
  width: fit-content;
}

.category1 {
  margin: 10px 50px;
  padding: 20px 0px;
  text-align: left;
  border-bottom: 1px solid black;
}

.category1:nth-child(7) {
  border-bottom: none;
}

.category1 img {
  padding: 0px 20px;
  height: 150px;
  width: 300px;
  object-fit: contain;
}

.category a {
  padding: 10px 0;
  display: block;
  transition: all 0.5s;
  color: rgb(0, 132, 255);
}

.category a:hover span {
  padding-left: 5px;
}

.category a:hover {
  color: rgb(0, 132, 255);
}

.category .bottom-right img {
  height: 90px;
}

.bottom-right article {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.bottom-right h2 {
  padding-bottom: 5px;
  border-bottom: none;
  font-size: 25px;
}

.category .bottom-right a {
  padding-bottom: 0px;
  padding-top: 20px;
}

.category .bottom-right article {
  padding-bottom: 15px;
}

@media (max-width: 1030px) {
  .category1 {
    margin: 0px;
  }
  .category img {
    max-width: 70%;
    height: initial;
  }
  .bottom-right {
    border-top: 3px solid black;
  }
}

@media (min-width: 1030px) {
  .category1 {
    display: flex;
  }

  .flood-page {
    display: flex;
  }

  .category-left {
    flex: 2;
  }

  .category1 img {
    flex: 1;
  }
  .category-article {
    flex: 2;
  }

  .more .container-top-left {
    display: flex;
  }

  .category {
    display: flex;
  }
}

@media (max-width: 1024px) {
  * {
    margin: 0px;
  }

  header {
    margin: 5px 0px;
  }
  .logo {
    height: 50px;
    margin: 0px;
  }
  .social {
    margin: 0px;
  }
  .social i {
    margin-left: 0px;
    margin-right: 8px;
  }
  .checkbtn {
    margin-right: 0px;
  }
  .top-container-left {
    margin: 5px 0px;
    padding: 5px 0px;
  }
  .container-top-left {
    margin: 5px 0px;
    padding: 5px 0px;
  }

  .top-container-right h4 {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
  }

  .top-container-right {
    padding: 0px;
    margin: 0px;
  }

  .container-bottom-left {
    margin: 0px;
  }

  .bottom {
    margin: 10px 0px;
    padding: 0px;
  }
  .bottom-left .bottom-left-article .bottom-left-left 
  .bottom-left-right{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
 

  .box:hover {
    height: 170%;
    width: 80%;
  }

  .category h2 {
    margin: 0px 0px;
    margin-bottom: 10px;
    padding-left: 0px;
  }

  .category img {
    padding: 0px;
    height: unset;
    width: 100%;
  }

  .category-article {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  .footer-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  nav ul li a {
    font-size: 15px;
  }

  .accordion h2 {
    font-size: 12px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .accordion {
    height: 160px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .box:hover {
    height: 160%;
    width: 110%;
  }
  .accordion p {
    font-size: 9px;
    padding: 0px;

    margin: 0px;
  }
  .accordion a {
    font-size: 7px;
    padding: 5px;
  }

  .category-article {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .acc-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.author-date {
  margin-top: 10px;
}

.author-date p {
  color: #0000009a;
  font-size: 14px;
}

.categ {
  background-color: rgb(0, 132, 255);
  color: white;
  margin-left: 10px;
  padding: 5px;
  border-radius: 2px;
}
.more h4 {
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}
